{% assign menus_with_images = 'bags,accessories,collections' | split: ',' %}

{% comment %}
  Links are passed to this include
{% endcomment %}
{% for link in links %}

  {% if link.links != blank %}
    {% assign submenu_active = false %}
    {%- assign level1_slug = link.title | handle -%}
    {% for childlink in link.links %}
      {%- comment %}<locksmith:1330>{% endcomment -%}
        {%- capture var %}{% render 'locksmith-variables', scope: 'subject', subject: childlink, subject_parent: link, variable: 'transparent' %}{% endcapture %}{% if var == "true" %}{% else %}{% continue %}{% endif -%}
      {%- comment %}</locksmith:1330>{% endcomment -%}
      {% if childlink.active %}
        {% assign submenu_active = true %}
      {% endif %}
    {% endfor %}
    <div class="Nav__item Nav__item--main level-1 menu-item has-submenu {% if link.active or submenu_active %} Nav__item--active{% endif %}" aria-haspopup="true">
      <a href="{{ link.url }}" class="Nav__link level-1 {% if link.url == '#' %}anchor-link{% endif %}">
        <span>{{ link.title }}</span>
      </a>
      <div class="Nav__submenu level-2" data-identifier="{{ link.title | handle }}">
        <div class="Nav">
          {% for link in link.links %}
            {%- comment %}<locksmith:8aac>{% endcomment -%}
              {%- capture var %}{% render 'locksmith-variables', scope: 'subject', subject: link, subject_parent: link, variable: 'transparent' %}{% endcapture %}{% if var == "true" %}{% else %}{% continue %}{% endif -%}
            {%- comment %}</locksmith:8aac>{% endcomment -%}
            {%- assign level2_slug = link.title | handle -%}
            <div class="Nav__item level-2 {% if link.active %}is-active{% endif %}">
              <a href="{{ link.url }}" class="Nav__link level-2">
                {% if level1_slug == 'accessories' or level1_slug == 'collections' %}
                  {% capture img_ref %}{{ level1_slug }}_{{ level2_slug }}.jpg{% endcapture %}
                  <figure>
                    <img src="{{ img_ref | file_img_url: '300x' }}" alt="{{ link.title }}" loading="lazy">
                  </figure>
                {% endif %}
                <span>{{ link.title | escape }}</span>
              </a>
              {% if link.links != blank %}
                <div class="Nav__submenu level-3" data-identifier="{{ link.title | handle }}">
                  {% for link in link.links %}
                    {%- comment %}<locksmith:f8a7>{% endcomment -%}
                      {%- capture var %}{% render 'locksmith-variables', scope: 'subject', subject: link, subject_parent: link, variable: 'transparent' %}{% endcapture %}{% if var == "true" %}{% else %}{% continue %}{% endif -%}
                    {%- comment %}</locksmith:f8a7>{% endcomment -%}
                    {%- assign level3_slug = link.title | handle -%}
                    {% if menus_with_images contains level1_slug %}
                      {% capture img_ref %}{{ level1_slug }}_{{ level2_slug }}_{{ level3_slug }}.jpg{% endcapture %}
                    {% endif %}
                    <div class="Nav__item level-3">
                      <a href="{{ link.url }}" class="Nav__link level-3">
                        {% if menus_with_images contains level1_slug %}
                          <figure>
                            <img src="{{ img_ref | file_img_url: '300x' }}" alt="{{ link.title }}" loading="lazy">
                          </figure>
                        {% endif %}
                        <span>{{ link.title }}</span>
                      </a>
                    </div>
                  {% endfor %}
                </div>
              {% endif %}
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  {% else %}
    <div class="Nav__item Nav__item--main {% if link.active %}selected{% endif %}">
      <a href="{{ link.url }}" class="Nav__link--main Nav__link level-1">{{ link.title }}</a>
    </div>
  {% endif %}
{% endfor %}
