<div class="Nav Nav--social">
  {% if settings.social-facebook-check %}
    <div class="Nav__item level-1">
      <a href="{{ settings.social-facebook }}" target="_blank" class="Nav__link level-1">
        <svg viewBox='0 0 20 20' class='icon' width='1em' height='1em'>
          <use xlink:href='#facebook'></use>
        </svg>
      </a>
    </div>
  {% endif %}

  {% if settings.social-twitter-check %}
    <div class="Nav__item level-1">
      <a href="{{ settings.social-twitter }}" target="_blank" class="Nav__link level-1">
        <svg viewBox='0 0 20 20' class='icon' width='1em' height='1em'>
          <use xlink:href='#twitter'></use>
        </svg>
      </a>
    </div>
  {% endif %}

  {% if settings.social-pinterest-check %}
    <div class="Nav__item level-1">
      <a href="{{ settings.social-pinterest }}" target="_blank" class="Nav__link level-1">
        <svg viewBox='0 0 20 20' class='icon' width='1em' height='1em'>
          <use xlink:href='#pinterest'></use>
        </svg>
      </a>
    </div>
  {% endif %}

  {% if settings.social-instagram-check %}
    <div class="Nav__item level-1">
      <a href="{{ settings.social-instagram }}" target="_blank" class="Nav__link level-1">
        <svg viewBox='0 0 20 20' class='icon' width='1em' height='1em'>
          <use xlink:href='#instagram'></use>
        </svg>
      </a>
    </div>
  {% endif %}

  {% if settings.social-spotify-check %}
    <div class="Nav__item level-1">
      <a href="{{ settings.social-spotify }}" target="_blank" class="Nav__link level-1">
        <svg viewBox='0 0 20 20' class='icon' width='1em' height='1em'>
          <use xlink:href='#spotify'></use>
        </svg>
      </a>
    </div>
  {% endif %}

  {% if settings.social-youtube-check %}
    <div class="Nav__item level-1">
      <a href="{{ settings.social-youtube }}" target="_blank" class="Nav__link level-1">
        <svg viewBox='0 0 20 20' class='icon' width='1em' height='1em'>
          <use xlink:href='#youtube'></use>
        </svg>
      </a>
    </div>
  {% endif %}

  {% if settings.social-tumblr-check %}
    <div class="Nav__item level-1">
      <a href="{{ settings.social-tumblr }}" target="_blank" class="Nav__link level-1">
        <svg viewBox='0 0 20 20' class='icon' width='1em' height='1em'>
          <use xlink:href='#tumblr'></use>
        </svg>
      </a>
    </div>
  {% endif %}
</div>