<!-- /templates/customers/addresses.liquid -->
<div class="Main__layout Container Container--narrow">
  <header class="Main__header">
    <h1>{{ 'customer.account.title' | t }}</h1>
    <button class="Button" data-style="dark solid" type="button" data-new-address-toggle class="Button">{{ 'customer.addresses.add_new' | t }}</button>
  </header>
  <main class="Main__content">

    {% paginate customer.addresses by 5 %}

      <div data-address>

        <div data-address-form class="hide add-new-address">
          {% form 'customer_address', customer.new_address %}
            <div class="Form__grid">
              {% comment %} First Name {% endcomment %}
              <div class="Form__input Grid-medium-1-2">
                <label for="AddressFirstNameNew">
                  {{ 'customer.addresses.first_name' | t }}
                </label>
                <input type="text"
                      name="address[first_name]"
                      id="AddressFirstNameNew"
                      value="{{ form.first_name }}"
                      autocapitalize="words">
              </div>
              {% comment %} Last Name {% endcomment %}
              <div class="Form__input Grid-medium-1-2">
                <label for="AddressLastNameNew">
                  {{ 'customer.addresses.last_name' | t }}
                </label>
                <input type="text"
                      name="address[last_name]"
                      id="AddressLastNameNew"
                      value="{{ form.last_name }}"
                      autocapitalize="words">
              </div>
              {% comment %} Company {% endcomment %}
              <div class="Form__input Grid-medium-1-2">
                <label for="AddressCompanyNew">
                  {{ 'customer.addresses.company' | t }}
                </label>
                <input type="text"
                      name="address[company]"
                      id="AddressCompanyNew"
                      value="{{ form.company }}"
                      autocapitalize="words">
              </div>
              {% comment %} Address 1 {% endcomment %}
              <div class="Form__input Grid-medium-1-2">
                <label for="AddressAddress1New">
                  {{ 'customer.addresses.address1' | t }}
                </label>
                <input type="text"
                      name="address[address1]"
                      id="AddressAddress1New"
                      value="{{ form.address1 }}"
                      autocapitalize="words">
              </div>
              {% comment %} Address 2 {% endcomment %}
              <div class="Form__input Grid-medium-1-2">
                <label for="AddressAddress2New">
                  {{ 'customer.addresses.address2' | t }}
                </label>
                <input type="text"
                      name="address[address2]"
                      id="AddressAddress2New"
                      value="{{ form.address2 }}"
                      autocapitalize="words">
              </div>
              {% comment %} City {% endcomment %}
              <div class="Form__input Grid-medium-1-2">
                <label for="AddressCityNew">
                  {{ 'customer.addresses.city' | t }}
                </label>
                <input type="text"
                      name="address[city]"
                      id="AddressCityNew"
                      value="{{ form.city }}"
                      autocapitalize="words">
              </div>
              {% comment %} Country {% endcomment %}
              <div class="Form__input Grid-medium-1-2">
                <label for="AddressCountryNew">
                  {{ 'customer.addresses.country' | t }}
                </label>
                <select data-address-country
                  name="address[country]"
                  id="AddressCountryNew"
                  data-default="{{ form.country }}">
                </select>
                <svg viewBox='0 0 20 20' class='icon dropdownIcon' width='1em' height='1em'>
                  <use href='#down'></use>
                </svg>
              </div>
              {% comment %} Province {% endcomment %}
              <div class="Form__input Grid-medium-1-2" data-address-province-wrapper>
                <label for="AddressProvinceNew">
                  {{ 'customer.addresses.province' | t }}
                </label>
                <select data-address-province
                  name="address[province]"
                  id="AddressProvinceNew"
                  data-default="{{ form.province }}">
                </select>
                <svg viewBox='0 0 20 20' class='icon dropdownIcon' width='1em' height='1em'>
                  <use href='#down'></use>
                </svg>
              </div>
              {% comment %} Zip {% endcomment %}
              <div class="Form__input Grid-medium-1-2">
                <label for="AddressZipNew">
                  {{ 'customer.addresses.zip' | t }}
                </label>
                <input type="text"
                      name="address[zip]"
                      id="AddressZipNew"
                      value="{{ form.zip }}"
                      autocapitalize="characters">
              </div>
              {% comment %} Phone {% endcomment %}
              <div class="Form__input Grid-medium-1-2">
                <label for="AddressPhoneNew">
                  {{ 'customer.addresses.phone' | t }}
                </label>
                <input type="tel"
                      name="address[phone]"
                      id="AddressPhoneNew"
                      value="{{ form.phone }}"
                      pattern="[0-9\-]*">
              </div>
            </div>
            {% comment %} Default {% endcomment %}
            <div class="Form__input Grid-medium-1-2">
              {{ form.set_as_default_checkbox }}
              <label for="address_default_address_new">
                {{ 'customer.addresses.set_default' | t }}
              </label>
            </div>
            <div class="Form__actions">
              <button type="button" class="Button" data-style="dark outline" data-new-address-toggle>
                {{ 'customer.addresses.cancel' | t }}
              </button>
              <button type="submit" class="Button push-right" data-style="solid dark">{{ 'customer.addresses.add' | t }}</button>
            </div>

          {% endform %}
        </div>
      </div>

      {% if customer.addresses %}
        <h2>{{ 'customer.addresses.title' | t }}</h2>
      {% endif %}

      {% for address in customer.addresses %}

        <div data-address class="Card Card--horizontal address">
          <div class="Card__details">
            {% if address == customer.default_address %}
              <p><strong>{{ 'customer.addresses.default' | t }}</strong></p>
            {% endif %}
            {{ address | format_address }}

            <div class="Card__options">
              <button type="button" data-address-toggle class="Button Button--small" data-style="solid dark">
                {{ 'customer.addresses.edit' | t }}
              </button>
              <form data-address-delete-form method="post" action="/account/addresses/{{ address.id }}" data-confirm-message="{{ 'customer.addresses.delete_confirm' | t }}">
                <input type="hidden" name="_method" value="delete"/>
                <button type="submit" class="Button Button--small" data-style="outline dark">
                  {{ 'customer.addresses.delete' | t }}
                </button>
              </form>
            </div>

          </div>
          <div data-address-form class="hide">
            {% form 'customer_address', address %}

            <h4>{{ 'customer.addresses.edit_address' | t }}</h4>

            <div class="Form__grid">
              {% comment %} First Name {% endcomment %}
              <div class="Form__input Grid-medium-1-2">
                <label for="AddressFirstName_{{ form.id }}">
                  {{ 'customer.addresses.first_name' | t }}
                </label>
                <input type="text"
                      name="address[first_name]"
                      id="AddressFirstName_{{ form.id }}"
                      value="{{ form.first_name }}"
                      autocapitalize="words">
              </div>
              {% comment %} Last Name {% endcomment %}
              <div class="Form__input Grid-medium-1-2">
                <label for="AddressLastName_{{ form.id }}">
                  {{ 'customer.addresses.last_name' | t }}
                </label>
                <input type="text"
                      name="address[last_name]"
                      id="AddressLastName_{{ form.id }}"
                      value="{{ form.last_name }}"
                      autocapitalize="words">
              </div>
              {% comment %} Company {% endcomment %}
              <div class="Form__input Grid-medium-1-2">
                <label for="AddressCompany_{{ form.id }}">
                  {{ 'customer.addresses.company' | t }}
                </label>
                <input type="text"
                      name="address[company]"
                      id="AddressCompany_{{ form.id }}"
                      value="{{ form.company }}"
                      autocapitalize="words">
              </div>
              {% comment %} Address 1 {% endcomment %}
              <div class="Form__input Grid-medium-1-2">
                <label for="AddressAddress1_{{ form.id }}">
                  {{ 'customer.addresses.address1' | t }}
                </label>
                <input type="text"
                      name="address[address1]"
                      id="AddressAddress1_{{ form.id }}"
                      value="{{ form.address1 }}"
                      autocapitalize="words">
              </div>
              {% comment %} Address 2 {% endcomment %}
              <div class="Form__input Grid-medium-1-2">
                <label for="AddressAddress2_{{ form.id }}">
                  {{ 'customer.addresses.address2' | t }}
                </label>
                <input type="text"
                      name="address[address2]"
                      id="AddressAddress2_{{ form.id }}"
                      value="{{ form.address2 }}"
                      autocapitalize="words">
              </div>
              {% comment %} City {% endcomment %}
              <div class="Form__input Grid-medium-1-2">
                <label for="AddressCity_{{ form.id }}">
                  {{ 'customer.addresses.city' | t }}
                </label>
                <input type="text"
                      name="address[city]"
                      id="AddressCity_{{ form.id }}"
                      value="{{ form.city }}"
                      autocapitalize="words">
              </div>
              {% comment %} Country {% endcomment %}
              <div class="Form__input Grid-medium-1-2">
                <label for="AddressCountry_{{ form.id }}">
                  {{ 'customer.addresses.country' | t }}
                </label>
                <select data-address-country
                  name="address[country]"
                  id="AddressCountry_{{ form.id }}"
                  class="address-country-option"
                  data-form-id="{{ form.id }}"
                  data-default="{{ address.country_code }}">
                </select>
                <svg viewBox='0 0 20 20' class='icon dropdownIcon' width='1em' height='1em'>
                  <use href='#down'></use>
                </svg>
              </div>
              {% comment %} Province {% endcomment %}
              <div class="Form__input Grid-medium-1-2" data-address-province-wrapper>
                <label for="AddressProvince_{{ form.id }}">
                  {{ 'customer.addresses.province' | t }}
                </label>
                <select data-address-province
                  name="address[province]"
                  id="AddressProvince_{{ form.id }}"
                  data-default="{{ address.province_code }}">
                </select>
                <svg viewBox='0 0 20 20' class='icon dropdownIcon' width='1em' height='1em'>
                  <use href='#down'></use>
                </svg>
              </div>
              {% comment %} Zip {% endcomment %}
              <div class="Form__input Grid-medium-1-2">
                <label for="AddressZip_{{ form.id }}">
                  {{ 'customer.addresses.zip' | t }}
                </label>
                <input type="text"
                      name="address[zip]"
                      id="AddressZip_{{ form.id }}"
                      value="{{ form.zip }}"
                      autocapitalize="characters">
              </div>
              {% comment %} Phone {% endcomment %}
              <div class="Form__input Grid-medium-1-2">
                <label for="AddressPhone_{{ form.id }}">
                  {{ 'customer.addresses.phone' | t }}
                </label>
                <input type="tel"
                      name="address[phone]"
                      id="AddressPhone_{{ form.id }}"
                      value="{{ form.phone }}"
                      pattern="[0-9\-]*">
              </div>
            </div>

            {% comment %} Default {% endcomment %}
            <div class="Form__input Grid-medium-1-2">
              {{ form.set_as_default_checkbox }}
              <label for="address_default_address_{{ form.id }}">
                {{ 'customer.addresses.set_default' | t }}
              </label>
            </div>
            <div class="Form__actions">
              <button type="button" class="Button Button--outline" data-address-toggle data-form-id="{{ form.id }}">
                {{ 'customer.addresses.cancel' | t }}
              </button>
              <button type="submit" class="Button push-right">{{ 'customer.addresses.update' | t }}</button>
            </div>

            {% endform %}

          </div>
        </div>
      {% endfor %}

      {% if paginate.pages > 1 %}
        {% include 'pagination' %}
      {% endif %}

    {% endpaginate %}

    <div class="Nav Nav--sector">
      <a href="/account" class="Button Button--small" data-theme="dark outline">{{ 'customer.account.return' | t }}</a>
    </div>

  </main>
</div>