<!-- /templates/customers/login.liquid -->
<div class="Main__layout Container Container--narrow">
  <header class="Main__header">
    <h1>Login</h1>
  </header>
  <main class="Main__content">
    <div class="form-success hide" data-reset-success>
      {{ 'customer.recover_password.success' | t }}
    </div>

    <div id="CustomerLoginForm">
      {% form 'customer_login' %}

        {{ form.errors | default_errors }}

        <div class="Form__grid">
          <div class="Form__input Grid-medium-1-2">
            <label for="CustomerEmail" class="label-hidden">
              {{ 'customer.login.email' | t }}
            </label>

            <input type="email"
                  name="customer[email]"
                  id="CustomerEmail"
                  class="{% if form.errors contains 'email' %}input-error{% endif %}"
                  placeholder="{{ 'customer.login.email' | t }}"
                  spellcheck="false"
                  autocomplete="off"
                  autocapitalize="off"
                  autofocus>
          </div>
          <div class="Form__input Grid-medium-1-2">
            {% if form.password_needed %}
              <label for="CustomerPassword" class="label-hidden">
                {{ 'customer.login.password' | t }}
              </label>
              <input type="password"
                    name="customer[password]"
                    id="CustomerPassword"
                    class="{% if form.errors contains 'password' %}input-error{% endif %}"
                    placeholder="{{ 'customer.login.password' | t }}">
            {% endif %}
          </div>
        </div>

        <div class="Nav">
          <div class="Nav__item">
            <button type="submit" class="Button" data-style="solid dark">{{ 'customer.login.sign_in' | t }}</button>
          </div>
        </div>

        <div class="Nav Nav--sector">
          <div class="Nav Nav--bar">

            <a href="/account/register" class="Nav__item Nav__item--main">
              {{ 'layout.customer.create_account' | t }}
            </a>

            {% if form.password_needed %}
              <a href="#recover" id="RecoverPassword" class="Nav__item Nav__item--main">{{ 'customer.login.forgot_password' | t }}</a>
            {% endif %}
          </div>
        </div>

      {% endform %}

    </div>

    <div id="RecoverPasswordForm" class="hide">
      <h2>{{ 'customer.recover_password.title' | t }}</h2>
      <p>{{ 'customer.recover_password.subtext' | t }}</p>

      {% form 'recover_customer_password' %}
        {{ form.errors | default_errors }}

        {% if form.posted_successfully? %}
          <span class="hide reset-password-success"></span>
        {% endif %}

        <div class="Form__grid Container Container--narrower">
          <div class="Form__input Grid-medium-2-3">
            <input type="email"
                  name="email"
                  id="RecoverEmail"
                  placeholder="{{ 'customer.recover_password.email' | t }}"
                  spellcheck="false"
                  autocomplete="off"
                  autocapitalize="off">
          </div>
          <div class="Form__input Grid-medium-1-3">
            <button type="submit" class="Button" data-style="solid dark">{{ 'customer.recover_password.submit' | t }}</button>
          </div>
          <div class="Form__input">
            <button type="buton" class="Button Button--outline Button--small" id="HideRecoverPasswordLink">
              {{ 'customer.recover_password.cancel' | t }}
            </button>
          </div>
        </div>

      {% endform %}

    </div>

    {% if shop.checkout.guest_login %}
      <h2>{{ 'customer.login.guest_title' | t }}</h2>

      {% form 'guest_login' %}
        <input type="submit" class="button" value="{{ 'customer.login.guest_continue' | t }}">
      {% endform %}
    {% endif %}
  </main>
</div>
