<!-- /templates/customers/register.liquid -->
<div class="Main__layout Container Container--narrow">
  <header class="Main__header">
    <h1>Reset Password</h1>
  </header>
  <main class="Main__content">
    {% form 'reset_customer_password' %}

      <p class="text-center">{{ 'customer.reset_password.subtext' | t: email: email }}</p>

      {{ form.errors | default_errors }}

      <div class="Form__grid">
        <div class="Form__input Grid-medium-1-2">
          <label for="ResetPassword" class="label-hidden">{{ 'customer.reset_password.password' | t }}</label>
          <input type="password" value="" name="customer[password]" id="ResetPassword" class="{% if form.errors contains 'password' %} input--error{% endif %}">
        </div>
        <div class="Form__input Grid-medium-1-2">
          <label for="PasswordConfirmation">{{ 'customer.reset_password.password_confirm' | t }}</label>
          <input type="password" value="" name="customer[password_confirmation]" id="PasswordConfirmation" class="{% if form.errors contains 'password_confirmation' %} input--error{% endif %}">
        </div>
      </div>
      <div class="Nav Nav--sector">
        <button type="submit" class="Button" data-style="solid dark">{{ 'customer.reset_password.submit' | t }}</button>
      </div>
    {% endform %}
  </main>
</div><!-- /templates/customers/reset_password.liquid -->
